$submit-button-width:50px;
$error_color:$trib-red3;

@keyframes spin { 
	100% { transform:rotate(360deg); } 
}

 .profile-lookup{
	@include clearfix();
	// display:flex;
	// flex-wrap:wrap;
	// justify-content:space-between;

	label{
		@include sans-serif();
		font-weight: bold;
		display:block;
		margin: 0 0 10px 0;
		width:100%;
	}

	&__error-message{
		@include sans-serif();
		font-weight: bold;
		color:$error_color;
		opacity:0;
		max-height: 0;
		margin: 0;
		overflow: hidden;
		transition: all 200ms ease;
	}

	&--error{
		
		.profile-lookup__inner{
			// When there is a geocoding error
			background:$error_color;
			color:white;
			transition: all 200ms ease;
		}

		.profile-lookup__error-message{
			opacity:1;
			max-height: 100vh;
			margin:10px 0 0 0;
			transition: all 200ms ease;
		}
	}

	&__inner{
		position:relative;
		width:100%;
		height:50px;
	    background: #f0f0f0;
	    overflow:hidden;
	    transition: all 200ms ease;
	}
	
	&__note{
		@include agate();
	}

	input[type='text']{
		@include sans-serif();

	    background:transparent;
	    position:absolute;
	    top:0;
	    left:0;
	    width: 100%; // fallback
		width: calc(100% - 15px - #{$submit-button-width});
	    height:100%;
		padding: 0;
		margin: 0 0 0 15px;
		border: 0;
		transition:all 150ms ease;
	}

	button[type='submit']{
	
		position:absolute;
		top:50%;
		right:0;
		width: $submit-button-width;
		height: $submit-button-width;
		margin:#{$submit-button-width / -2} 0 0 0;

		cursor:pointer;

		background:#f0f0f0;
		padding:0;
		border:none;
		transition:all 150ms ease;

	}

	input[type='text']:focus ~ button[type='submit']{
		opacity:1;
		transition:all 150ms ease;
	}
}

.submit-icon{
	width:25px;
	display:none;

	&.submit-icon--visible{
		display:block;
	}

	&--arrow{
		opacity:.2;
	}
	
	&--spinner{
	    animation:spin 2s linear infinite;
	}
}

@media all and (max-width: $tablet-max-width){

}


@media all and (max-width: $mobile-max-width){
	 .profile-lookup{ margin-top:15px; }
}