.gauge{ display:none }

@media all and (min-width:$desktop-min-width){
	.gauge-label{
		@include sans-serif();
		margin: 0 0 3px 0;
		text-align:left;
	}

	.gauge{
		display:block;
		position:relative;
		height:50px;

		&__label{
			@include sans-serif();
			position:absolute;
			top:0;
			margin:0 0 0 0;
		}

		&__label--axis{
			@include agate();
			position:absolute;
			bottom:0;
			top:auto;
			margin:0 0 0 0;
		}

		&__triangle{
			position:absolute;
			width:$triangle-dimension;
			height:$triangle-dimension;
			margin: 0 0 0 #{$triangle-dimension / -2};
		}

		&__chart{
			width: 100%;
			height: 20px;
			position: absolute;
			top: 10px;
			left: 0;
			fill:$trib-blue2;
			fill-opacity:.2;
		}
	}
}