$desktop-min-width:850px;
$tablet-min-width:450px;

$triangle-dimension: 8px;

// DESKTOP VARS
$map-width:250px;
$numbers-width:200px;
$numbers-width-padding:15px;

@mixin make_columns($valign:flex-start){
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items: $valign;
}


.number{
	text-align:center;
	p{
		margin:0;
		padding:0;		
	}

	.big-number{
		@include sans-serif-text(24px, 1.4em, bold);
		margin-bottom:5px;
	}
}



.profile{
	@include sans-serif();
	// @include make_columns();
	overflow: hidden;
	max-height:0;

	&.profile--visible{
		max-height:10000000vh;
		margin-top:25px;
	}
	
	&__tract{
		// main headline
		@include sans-serif-text(23px, 1.4em, bold);
	    max-width: 400px;
	    margin: 0 auto 10px auto;
		text-align:center;
	}

	&__map{
		width:100%;
		height:100%;
		margin-bottom: 15px;
	}

	&__columns{ 
		// This is the generic class to make a colums wrapper
		@include make_columns(stretch);
		width: 100%; 
		
		&--gauges{
			// These are the gauge charts. Don't want them until desktop
			// display:none;
		}

		.gauge-wrapper{
			width:100%;
		}
	}

	&__column{ 
		// Generic class to make something a column
		&--numbers{
			padding:$numbers-width-padding;
			background:rgba($trib-blue2, .05);
			width: 100%;
		}

		&--map{
			width:100%;
			height: 250px;
			margin-bottom:15px;
		}
	}
}

p, span, strong{
	&.overvalued {
		color: $trib-red2;
	}
	&.undervalued {
		color: $trib-orange;
	}
}


@media all and (min-width:$tablet-min-width){
	.profile{		
		&__map{
			width: 100%;
			padding-bottom:0;
			height:200px;
		}
	}
}

@media all and (min-width:$desktop-min-width){

	.number {
		width: 30%;
	    max-width: 200px;
		.big-number{ font-size:30px; }
	}

	.profile{
		display:block;
		
		&__column--data{
			// The center column, with big numbers and gauges.
			text-align:center;
		}

		&__map{
			// So the heights of the columns appear equalized.
			height:100%;
		}

		&__values{
			@include make_columns(flex-end);
		}

		&__tract{
			font-size:30px;
		}
	}

	// adjust arrangement of main columns
	.profile__columns{
		@include make_columns(stretch);
		width:auto;
		
		&--gauges {
			padding: 20px;
			background:rgba($trib-blue2, .05);
			margin: 0 0 0 0;

			.gauge-wrapper:first-child {
				// This is the width of the gauge columns underneath the values stuff.
				// width:45%;
				margin-bottom: 15px;
			}
		}

		.profile__column{
			
			&--data{
				width:300px; // fallback
				width: calc(100% - #{$numbers-width} - #{$map-width} - 50px);
			}

			&--numbers{
				margin-top:0;
				border-top: none;
				width: $numbers-width - ($numbers-width-padding * 2);
			}
			&--map{
				width: $map-width;
				margin:0;
				height:auto;
			}
		}
	}

	#map{
		max-height: 100%;
				min-height: 400px;
	}

	// This is the list of numbers on the right side
	.profile__attributes {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li{
			margin-bottom: 10px;
			padding-bottom:10px;
			border-bottom:1px solid $trib-gray4;

			&:last-child{
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom:none;
			}
		}
	}
}

@media all and (min-width:1000px){
	// Some light tweaks for the wider screen

		.profile__columns--gauges {

			.gauge-wrapper {
				// This is the width of the gauge columns underneath the values stuff.
				width:45%;
				display: flex;
				flex-wrap: wrap;
				align-items: flex-end;
				align-content: flex-end;

				&:first-child{
					margin-bottom:0;
				}
			}
		}

}