$desktop-min-width:850px;
$tablet-min-width:450px;

$triangle-dimension: 8px;


 .profile{
	&__address{
		@include label6();
		margin: 0 0 5px 0;
	}

	&__sub-label{
		@include label7();
	}

	&__community-area{
		@include sans-serif();
		margin:0;
		font-style:italic;
	}

	&__attributes{
		list-style-type: none;
		margin:0;
		padding:0;

		li{
			@include sans-serif();
			margin:0 0 15px 0;
			padding-bottom:15px;
			border-bottom:1px solid $trib-gray4;
		}
	}
}


.gauge{
	position:relative;
	height:70px;
	// background:#eee;

	&__label{
		@include sans-serif();
		position:absolute;
		top:0;
		margin:0 0 0 0;
	}

	&__label--axis{
		@include agate();
		position:absolute;
		bottom:0;
		top:auto;
		margin:0 0 0 0;
	}


	&__triangle{
		position:absolute;
		width:$triangle-dimension;
		height:$triangle-dimension;
		top:19px;
		margin: 0 0 0 #{$triangle-dimension / -2};
	}

	&__chart{
		width: 100%;
		height: 20px;
		position: absolute;
		top: 28px;
		fill:$trib-blue2;
		fill-opacity:.2;
	}
}

@media all and (min-width:$tablet-min-width){
	.profile__attributes li:last-child{
		border-bottom:none;
		padding-bottom:0;
	}
}

@media all and (min-width:$desktop-min-width){

}