// Enables for Tribune colors, but is required for everything.
@import 'base-variables';

// ---- ADD MORE VARIABLES HERE ---------------------------------------------
$tablet-max-width:849px;
$mobile-max-width:449px;

$over-color: $trib-red2;
$perfect-color: $trib-gray4;
$under-color: $trib-blue4;
$map-width: 600px;

// Required for everything, too, but can be broken down into smaller explicit imports if desired. 
@import 'base-mixins';

// ---- MAKE OR IMPORT MORE MIXINS HERE ---------------------------------------------

@mixin text_stroke(
	// Puts a stroke (blurred or not) around text;
	$text-color:black, 
	$stroke-color:white, 
	$stroke-width:1px, 
	$stroke-opacity:1,
	$stroke-blur:0){
	  

  color:$text-color;
  text-shadow:
	#{0-$stroke-width} #{0-$stroke-width} $stroke-blur rgba($stroke-color, $stroke-opacity),  
	$stroke-width #{0-$stroke-width} $stroke-blur rgba($stroke-color, $stroke-opacity),
	#{0-$stroke-width} $stroke-width $stroke-blur rgba($stroke-color, $stroke-opacity),
	$stroke-width $stroke-width $stroke-blur rgba($stroke-color, $stroke-opacity);
}


// Class imports. Uncomment the ones you want to use.
// @import 'ngux-visibility-toggles';
// @import 'trib-bulletbox';
// @import 'trib-buttons';
// @import 'trib-colors';
// @import 'trib-images-charts';
// @import 'trib-legends';
// @import 'trib-skeleton';
// @import 'trib-tables';
// @import 'trib-timeline-basic';
// @import 'trib-typography';
// @import 'trib-utilities';

.map-wrapper{
	position:relative;
	max-width: $map-width;
}

.map-meta{
	width:100%;
	max-width:$map-width;
	margin: 0 0 15px 0;

	&__headline{
		@include label7();
		margin: 0 0 7px 0;
	}
	&__description{
		@include sans-serif();
		margin: 0 0 7px 0;
	}

	&__legend {
		@include trib-legend();
		margin:0;
	}
	&__legend-box{
		@include trib-legend__box(0);

		&--over{ background: $over-color; }
		&--perfect{ background: $perfect-color; }
		&--under{ background: $under-color; }
	}
}


#map{
	max-width: 100%;
	height:0;
	padding-bottom:115%;
	// background:#eee;

}

@media all and (min-width:600px){
	#map{
	width: $map-width;
	}
	.map-meta{
		// background:rgba(white, .3);
		width:41%;
		position:absolute;
		top:28%;
		left:0;	
	}
}