// Enables for Tribune colors, but is required for everything.
@import 'base-variables';

// ---- ADD MORE VARIABLES HERE ---------------------------------------------
$tablet-max-width:849px;
$mobile-max-width:449px;

$desktop-min-width:850px;
$tablet-min-width:450px;

$profile_column_width:280px;
$profile_column_gutter:25px;

// Gauge chart triangle
$triangle-dimension: 8px;


// Required for everything, too, but can be broken down into smaller explicit imports if desired. 
@import 'base-mixins';

// ---- MAKE OR IMPORT MORE MIXINS HERE ---------------------------------------------

@mixin text_stroke(
	// Puts a stroke (blurred or not) around text;
	$text-color:black, 
	$stroke-color:white, 
	$stroke-width:1px, 
	$stroke-opacity:1,
	$stroke-blur:0){
	  

  color:$text-color;
  text-shadow:
	#{0-$stroke-width} #{0-$stroke-width} $stroke-blur rgba($stroke-color, $stroke-opacity),  
	$stroke-width #{0-$stroke-width} $stroke-blur rgba($stroke-color, $stroke-opacity),
	#{0-$stroke-width} $stroke-width $stroke-blur rgba($stroke-color, $stroke-opacity),
	$stroke-width $stroke-width $stroke-blur rgba($stroke-color, $stroke-opacity);
}


// Class imports. Uncomment the ones you want to use.
// @import 'ngux-visibility-toggles';
// @import 'trib-bulletbox';
// @import 'trib-buttons';
// @import 'trib-colors';
// @import 'trib-images-charts';
// @import 'trib-legends';
// @import 'trib-skeleton';
// @import 'trib-tables';
// @import 'trib-timeline-basic';
// @import 'trib-typography';
// @import 'trib-utilities';


// ---- IMPORT PROJECT STYLES FROM PARTIAL FILES HERE ---------------------------------------------
@import 'leaflet';
@import 'form';
@import 'profile';
// @import 'map-buttons';
// @import 'legends';



.profile{
	display: flex;
	justify-content:space-between;
	align-items: flex-start;
	flex-wrap:wrap;
	
	&__meta{
		width:100%;
		// background:yellow
	}

	&__map{
		width:100%;
		height:0;
		padding-bottom:75%;
		margin-bottom: 15px;
		// background:blue;
	}

	&__column{
		
		width:100%;

		&--1{
			// background:rgba(black, .2);
		}
		
		&--2{
			// background:rgba(black, .4);
		}

		&--3{
			// background:rgba(black, .2);
		}
	}
}

@media all and (min-width:$tablet-min-width){
	.graphic-wrapper{
		border:1px solid black;
		padding:25px;
	}
	.profile{		
		&__map{
			width: 40%;
			padding-bottom:0;
			height:200px;
		}
		
		&__columns{
			width:55%;
		}

	}
}

@media all and (min-width:$desktop-min-width){
	.profile{
		@include clearfix();
		display:block;

		&__map{
			width: 250px;
			height:250px;
			float:left;
		}
		
		&__columns{
			width:auto;
			margin-left:275px;
			display: flex;
			justify-content:space-between;
			align-items: flex-start;
			flex-wrap:wrap;
		}

		&__column{
			width:30%;
		}
	}
}