// Enables for Tribune colors, but is required for everything.
@import 'base-variables';

// ---- ADD MORE VARIABLES HERE ---------------------------------------------
$tablet-max-width:849px;
$mobile-max-width:449px;

$desktop-min-width:850px;
$tablet-min-width:450px;

$profile_column_width:280px;
$profile_column_gutter:25px;

// Gauge chart triangle
$triangle-dimension: 8px;



// Required for everything, too, but can be broken down into smaller explicit imports if desired. 
@import 'base-mixins';

// ---- MAKE OR IMPORT MORE MIXINS HERE ---------------------------------------------

// Class imports. Uncomment the ones you want to use.
// @import 'ngux-visibility-toggles';
// @import 'trib-bulletbox';
// @import 'trib-buttons';
// @import 'trib-colors';
// @import 'trib-images-charts';
// @import 'trib-legends';
// @import 'trib-skeleton';
// @import 'trib-tables';
// @import 'trib-timeline-basic';
// @import 'trib-typography';
// @import 'trib-utilities';

// ---- IMPORT PROJECT STYLES FROM PARTIAL FILES HERE ---------------------------------------------
@import 'leaflet';
@import 'form';
@import 'profile';
// @import 'map-buttons';
// @import 'legends';
body{
	// For some reason there is a margin showing up in iframes
    // margin:0;
    margin: 0 auto 25px auto;
    padding: 25px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.methodology-link{
	@include agate();
	margin-top:15px;
  text-decoration:none;

  &:hover{
    text-decoration: none;
  }
}



.lookup{
    margin-top: 19px;
    
	&__headline{
		@include label4();
		margin:0 0 10px 0;
	}
	&__chatter{
		@include sans-serif-text(16px, 1.5em, normal);
	}
}


// .profile{
// 	display: flex;
// 	justify-content:space-between;
// 	align-items: flex-start;
// 	flex-wrap:wrap;
//     // transition: max-height 1000ms ease;
//     overflow: hidden;
//     max-height:0;

//    &.profile--visible{
//     	// This is the class which will create a css animation when the profile opens. Cribbed from here:
//     	// http://stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css
// 		max-height:10000000vh;
// 		// transition: max-height 1000ms ease;
//     }
// 	&__meta{
// 		width:100%;
// 		// background:yellow
// 	}

// 	&__map{
// 		width:100%;
// 		height:100%;
// 		// padding-bottom:75%;
// 		margin-bottom: 15px;
// 		// border:1px solid $trib-gray2;
// 	}

// 	&__columns{ 
// 		display: flex;
// 		justify-content:space-between;
// 		align-items: flex-start;
// 		flex-wrap:wrap;
// 		width: 100%; 
// 		align-items:stretch;
// 	}

// 	&__column{ 
// 		width:100%; 
		
// 		&--map{
// 			width:100%;
// 			height: 250px;
// 			margin-bottom:15px;
// 		}
		
// 		&--gauges{
// 			text-align:center;
// 		}
// 	}

// 	// &__over-under{
// 	// 	padding:10px;
		
// 	// 	&--overvalued {
// 	// 		background: $trib-orange;
// 	// 	}
// 	// 	&--undervalued {
// 	// 		background: $trib-red2;
// 	// 	}
// 	// }
// }




.credits{
	@include agate();
}

@media all and (min-width:$tablet-min-width){
	body{ 
		padding-top: 22px; 
		margin: 0;
		padding:0;
		border-top: none;
		border-bottom: none;
	}
	
	.lookup{
		border:1px solid black;
		padding:25px;
	
		&__headline{
		    position: absolute;
		    top: 0;
		    background: white;
		    border-left: 1px solid black;
		    border-right: 1px solid black;
		    padding: 1px 10px;
		}
	}


}

@media all and (min-width:$desktop-min-width){


	
}