// Enables for Tribune colors, but is required for everything.
@import 'base-variables';

// ---- ADD MORE VARIABLES HERE ---------------------------------------------
$tablet-max-width:849px;
$mobile-max-width:449px;

// Required for everything, too, but can be broken down into smaller explicit imports if desired. 
@import 'base-mixins';

// ---- MAKE OR IMPORT MORE MIXINS HERE ---------------------------------------------


// Class imports. Uncomment the ones you want to use.
// @import 'ngux-visibility-toggles';
// @import 'trib-bulletbox';
// @import 'trib-buttons';
// @import 'trib-colors';
// @import 'trib-images-charts';
// @import 'trib-legends';
// @import 'trib-skeleton';
// @import 'trib-tables';
// @import 'trib-timeline-basic';
// @import 'trib-typography';
// @import 'trib-utilities';


// ---- IMPORT PROJECT STYLES FROM PARTIAL FILES HERE ---------------------------------------------
@import "form";

// ---- WRITE MORE PROJECT STYLES HERE ---------------------------------------------
.chart{
	position:relative;

	&__labels{
		position: absolute;
		top: 0;
    	left: 45px;

	}

&__township-label{
	  	@include label7();
	  	margin: 0 0 7px 0;
	  }

  &__township-sublabel{
  	@include sans-serif();
  	font-style: italic;
  	margin:0;
  }

	&__holder{
	  height:450px;
	}
  
	  
}

.triennial{
	stroke:$trib-blue2;
}

.acceptable-range{
	fill: $trib-tan;
}

.acceptable-range-label {
	@include sans-serif();
	font-style:italic;

}

.chart-headline{
  @include label7();
  margin:0 0 5px 0;
}

.chart-subheadline{
  @include sans-serif();
  margin:0 0 5px 0;
}

.sources{
  @include agate();
}

@media all and (max-width: $tablet-max-width){

}


@media all and (max-width: $mobile-max-width){

}