<html>
<head>
  <title>Cook County Overvalued/Undervalued Map</title>
  <script src="js/vendor.min.js"></script>
  <script type="text/javascript">
  	window.ROOT_URL = "{{ ROOT_URL }}";
  </script>
  <link rel="stylesheet" type="text/css" href="css/map-styles.css">
</head>
<body>
  <div class="map-wrapper">
	<div class="map-meta">
		{% if map_headline %}
			<h1 class="map-meta__headline">{{ map_headline }}</h1>
		{% else %}
			<h1 class="map-meta__headline">{{ map_chatter }}</h1>
		{% endif%}

		{% if map_headline and map_chatter %}
			<p class="map-meta__description">{{ map_chatter }}</p>
		{% endif%}
		
		<dl class="map-meta__legend">
			<dt>
				<span class="map-meta__legend-box map-meta__legend-box--over"></span>
			</dt>
			<dd>{{ map_key_overvalued }}</dd>
			<dt>
				<span class="map-meta__legend-box map-meta__legend-box--over-little"></span>
			</dt>
			<dd>{{ map_key_overvalued_little }}</dd>
			<dt>
				<span class="map-meta__legend-box map-meta__legend-box--neither"></span>
			</dt>
			<dd>{{ map_key_neither }}</dd>

			<dt>
				<span class="map-meta__legend-box map-meta__legend-box--under-little"></span>
			</dt>
			<dd>{{ map_key_undervalued_little }}</dd>
			<dt>
				<span class="map-meta__legend-box map-meta__legend-box--under"></span>
			</dt>
			<dd>{{ map_key_undervalued }}</dd>
		</dl>
	</div>
  	<div id='map'></div>
  	<div class='map-sources'>{{ map_sources|markdown|process_text() }}</div>
  </div>
  <script src="js/map-render.min.js"></script>
</body>
</html>