<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="//{{ ROOT_URL }}/css/lookup-styles.css">
  <script type="text/javascript">
    window.ROOT_URL="{{ ROOT_URL }}";
    window.error_not_found = "{{ error_not_found_message }}";
    window.error_not_in_cook_county = "{{ error_not_in_cook_county }}";
  </script>



<script type="text/javascript">
    ((((window.trb || (window.trb = {})).data || (trb.data = {})).metrics || (trb.data.metrics = {})).thirdparty = {
            pageName: 'ct:apps:news:cook-county-property-taxes:articleproject.',
            channel: 'news',
            server: 'apps.chicagotribune.com',
            hier1: 'chicagotribune:news',
            hier2: 'news',
            prop1: 'D=pageName',
            prop2: 'news',
            prop38: 'articleproject',
            prop57: 'D=c38',
            prop59: '',
            eVar20: 'chicagotribune',
            eVar21: 'D=c38',
            eVar34: 'D=ch',
            eVar35: 'D=pageName',
            events:''
    });  
</script>
  <script src="https://pym.nprapps.org/pym.v1.min.js"></script>
  <script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
</head>
<body>
  {# Gauges (and a couple other things) sprite #}
  <div style='display:none;height:0'>{% include 'img/sprite.svg' %}</div>
  <section class="lookup">
    <h1 class='lookup__headline'>{{ lookup_headline|process_text() }}</h1>
    <p class='lookup__chatter'>{{ lookup_chatter|process_text() }}</p>

    {% include '_subtemplates/_form.html' %}
    {% include '_subtemplates/_profile.html' %}
  <div class='credits'>
    {{ lookup_sources|markdown }}
  </div>
  </section>
  <script type="text/javascript" src="http://www.chicagotribune.com/hive/javascripts/metrics/s_code_trb.js"></script>
  {% omnitag request, OMNITURE, None, title, 'dataproject' %}
  <script src="//{{ ROOT_URL }}/js/app.min.js"></script>

</body>
</html>


