<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="//{{ ROOT_URL }}/css/styles.css">
  <script type="text/javascript">
    window.ROOT_URL="{{ ROOT_URL }}";
  </script>
  <script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
</head>
<body>
  <div style='display:none;height:0'>{% include 'img/sprite.svg' %}</div>
  <div class="graphic-wrapper">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea voluptatum, dignissimos ex ad, sit veritatis, perspiciatis veniam nemo maiores laborum temporibus, dolor atque itaque eaque natus. Vel explicabo id earum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea voluptatum, dignissimos ex ad, sit veritatis, perspiciatis veniam nemo maiores laborum temporibus, dolor atque itaque eaque natus. Vel explicabo id earum!</p>
    {% include '_subtemplates/_map-buttons.html' %}
    <div class='row'>
      <div class='row__profile-wrapper'>
        {% include '_subtemplates/_form.html' %}
        <div id="profile" class='profile'></div>
      </div>
      <div class='row__map-wrapper'>
        <div id='legend' class='row__legend'></div>
        <div id='map'></div>
      </div>
    </div>
    <section class='credits'>
      <h2>{{ map_methodology_headline }}</h2>
      <style type="text/css">
        .trb_mainContent .methods p{
          color:#aaa;
        }
      </style>
      <div class='methods'>
        {{ map_methodology_blurb|markdown }}
      </div>
      {{ map_sources|markdown }}
      {{ map_credits|markdown }}
    </section>
  </div>
  <script src="//{{ ROOT_URL }}/js/app.min.js"></script>


</body>
</html>



