<!DOCTYPE html>
<html>
<head>
  <title></title>
  {# <link rel="stylesheet" href="https://use.fontawesome.com/6745e48e70.css"> #}
  <link rel="stylesheet" type="text/css" href="//{{ ROOT_URL }}/css/lookup-styles.css">
  <script type="text/javascript">
    window.ROOT_URL="{{ ROOT_URL }}";
    window.error_not_found = "{{ error_not_found_message }}";
    window.error_not_in_cook_county = "{{ error_not_in_cook_county }}";
  </script>
  <script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
</head>
<body>
  {# Gauges (and a couple other things) sprite #}
  <div style='display:none;height:0'>{% include 'img/sprite.svg' %}</div>
  <section class="lookup" style='max-width: 100%;margin:auto;'>
    <h1 class='lookup__headline'>{{ lookup_headline|process_text() }}</h1>
    <p class='lookup__chatter'>{{ lookup_chatter|process_text() }}</p>
    {# {% include '_subtemplates/_map-buttons.html' %} #}
    
        {% include '_subtemplates/_form.html' %}
        <div id="profile" class='profile'>
          <div id='profile__meta' class="profile__meta"></div>
          <div id='map' class="profile__map"></div>
          <div class='profile__columns'>
            <div id='profile__column--1' class="profile__column profile__column--1"></div>
            <div  id='profile__column--2' class="profile__column profile__column--2"></div>
            <div  id='profile__column--3' class="profile__column profile__column--3"></div>
          </div>
        </div>
  </section>
    <section class='credits'>
      {{ map_sources|markdown }}
      <a id='methodology-link' class='methodology-link' href="#lookup">Methodology</a>
    </section>


      {# <h2>{{ map_methodology_headline }}</h2>
      <style type="text/css">
        .methods p{
          color:#aaa;
        }
      </style>
       <div class='methods'>
        {{ map_methodology_blurb|markdown }}
      </div> #}

  
  <script src="//{{ ROOT_URL }}/js/app.min.js"></script>


</body>
</html>



