<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="//{{ ROOT_URL }}/css/triennial-styles.css">
  <script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
  <script>
    window.ROOT_URL = "{{ ROOT_URL }}";
    window.error_not_found = "{{ error_not_found_message }}";
    window.error_not_in_cook_county = "{{ error_not_in_cook_county }}";
  </script>

</head>
<body>
  <div style='display:none;height:0'>{% include 'img/sprite.svg' %}</div>
  <div class="graphic-wrapper">
    <h1 class='chart-headline'>{{ tri_headline }}</h1>
    {{ tri_intro|markdown }}
    {% include "_subtemplates/_form.html" %}
    <p class='townshipSelect-label'>Or, select a township:</p>
    <select id='townshipSelect'>
      <option value="all">All townships</option>
      {% for twp in townships %}
      <option value={{ twp.town }}>{{ twp.descr }} Township</option>
      {% endfor %}
    </select>
    <figure class='chart'>
      <figcaption class='chart__labels'>
        <h3 class='chart__township-label'>All townships</h3>
        <h4 class='chart__township-sublabel'>All three triennial groupings</h4>
        <dl class='chart__township-legend'>
          <dt>
            <span class='acceptable-range'></span>
          </dt>
          <dd>Acceptable range</dd>
        </dl>
      </figcaption>
      <div id='triennial-chart' class='chart__holder'></div>
    </figure>
    <p class='sources'>Sources: Analysis of assessor data</p>
  </div>
  <script type="text/javascript" src="http://www.chicagotribune.com/hive/javascripts/metrics/s_code_trb.js"></script>
  {% omnitag request, OMNITURE, None, title, 'dataproject' %}
  <script src="//{{ ROOT_URL }}/js/triennial.min.js"></script>
</body>
</html>